#root {
  background: linear-gradient(
    225deg,
    rgba(235, 205, 121, 1) 0%,
    rgba(195, 205, 130, 1) 16.667%,
    rgba(151, 200, 142, 1) 33.333%,
    rgba(107, 192, 154, 1) 50%,
    rgba(68, 181, 163, 1) 66.667%,
    rgba(35, 168, 167, 1) 83.333%,
    rgba(13, 154, 163, 1) 100%
  );

  min-height: 100vh;
}

.cuadrado{
    width: 100px;
    height: 100px;
    background-color: lightblue;
}
